@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cormorant:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(90deg, rgba(255,244,224,1) 15%, rgba(184,104,103,1) 68%, rgba(192,119,116,1) 100%);
}
nav{
    position: sticky;
    top: -5.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 20px;
    color: white;
    font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
    font-size: 32px;
    background-color: rgb(77, 77, 77);
    z-index: 10;
}
input{
    width: 50%;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    outline: none;
}
input:focus{
    border: 2px solid rgb(229, 124, 35);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieContainer{
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    font-family: 'Acme', sans-serif;
    color: rgb(180, 96, 96);
    font-size: 30px;
    font-weight: 700;
    place-items: center;
}
.movie{ 
    width: 250px;
    height: 360px;
    border-radius: 10px;
    background-color: rgb(77, 77, 77);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.movie .title, .modalImg .title{
    margin-top: 0.7rem;
    margin-left: 0.6rem;
    font-size: 25px;
    color: white;
    font-family: 'Cormorant', serif;
    /* line-height: 8px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}
.movie .year{
    font-size: 18px;
    margin-left: 0.6rem;
    color: white;
    font-family: 'Cormorant', serif;
}

.movie img{
    width: 250px;
    height: 280px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.movie img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.pageStore{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.mydialog {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
    height: 100vh;
    max-height: none;
    width: 100%;
    max-width: none;
    justify-items: center;
    opacity: 0;
    overscroll-behavior: contain;
    z-index: 999;
    background-color: transparent;
    color: inherit;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-property: transform, opacity, visibility;
    overflow-y: hidden;
    place-items: center;
    border: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.mydialog[open] {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}
.modal{
    height: 410px;
    background-color: rgb(254,200,216);
    width: 100%;
    max-width: 600px;
    display: flex;
    gap: 30px;
    padding: 2rem;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    position: relative;
}
.modalImg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.modal img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);

}
.modalImg .title{
    color: black;
    font-weight: 800;
}
.modalImg .review{
    font-weight: 600;
    color: black;
    font-size: 14px;
    font-family: 'Comic Neue', cursive;
    font-style: italic;
    width: 100%;
    margin-top: 1rem;
}
.modal .text{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
textarea{
    padding: 0.5rem;
    font-size: 14px;
    resize: none;
    font-weight: 700;
    outline: none;
    border-radius: 10px;
    border: 2px dotted black;
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Comic Neue', cursive;
    font-style: italic;
}
button{
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
.modal button{
    position: absolute;
    top: 10px;
    right: 0 ;
    border: none;
    background: transparent;
    font-family: 'Comic Neue', cursive;
}
.text button{
    position: absolute;
    bottom: 90px;
    right: 90px;
}
button:active{
    color: white;
    background-color: rgb(180, 96, 96);
}
.paginationStore{
    opacity: 0;
    margin-bottom: 3rem;
}
@media screen and (max-width: 1280px){
    .movieContainer{     
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 870px){
    .movieContainer{     
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px){
    .movieContainer{     
        grid-template-columns: 1fr;
    }
    nav{
        font-size: 28px;
    }
    .movieContainer{
        color: black
    }
    .modal{
        height: 100%;
        overflow-y: scroll;
    }
    .text button{
        right: 80px;
    }
}